$RECYCLE.BIN/
.DS_Store
Thumbs.db

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
*.zip
*.crx
*.pem
.stylelint-cache
log.txt
*.sublime-project
*.sublime-workspace

dist/
www/

.idea/
.sass-cache/
.versions/
node_modules/
